/*----------banner----------*/
.bannerPic{
	height: 420px;
	position: relative;
	overflow: hidden
}
.bannerPic .carouselImgCon{
	position: relative;
}
.bannerPic .carouselImgCon a{
	position: absolute;
	left: 50%;
	margin-left: -960px;
}
.bannerPic .carouselImgCon img{
	opacity: 0;
}
.prev,.next{
	width: 50px;
	height: 50px;
	text-align: center;
	background: #d0c4af;
	color: #fff;
	font-size: 40px;
	line-height: 48px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
#banner .prev{
	left: 20%;
}
#banner .next{
	right: 20%;
}
#banner .prev:hover,#banner .next:hover{
	background: #b19e7a;
}
.bannerPic .circle{
	height: 30px;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.bannerPic .circle span{
	display: inline-block;
	width: 8px;
	height: 8px;
	background: #fff;
	border-radius: 50%;
	margin: 0 10px;
	border: 1px solid #d6d5d5;
	cursor: pointer;
}
.bannerPic .circle span.active,.bannerPic .circle span:hover{
	background: #a7936e;
	width: 4px;
	height: 4px;
	border: 3px solid #dfcead;
	transform: scale(2);
}
